@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
/* CSS Reset */

/* Box-sizing reset to ensure consistent box models */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles (ul, ol) */
ul,
ol {
    list-style: none;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    font-size: inherit;
    /* Reset font size to inherit */
    font-weight: normal;
    /* Reset font weight */
}

:root {
    /* Background Colors */
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #ffffff;

    /* Font Colors */
    --primary-font-color: #292929;

    --primary-font-family: 'Space Grotesk', 'sans-sarif';


    /* font size */
    --font-size-600: 24px;
    --font-size-500: 22px;
    --font-size-400: 20px;
    --font-size-300: 18px;
    --font-size-200: 16px;
    --font-size-100: 14px;
    --font-size-50: 12px;

    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;
    --font-weight-200: 200;


    /* Gradients */
    --primary-gradient: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    --secondary-gradient: linear-gradient(to bottom right, #00c6ff, #0072ff);

    /* Shadows */
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-heavy: 0 4px 8px rgba(0, 0, 0, 0.2);
}



body {
    line-height: 1.6;
    font-family: var(--primary-font-family);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.container {
    max-width: 1390px;
    width: 100%;
    margin-top: 5rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;



}

.content-heading {
    margin-bottom: 5rem;
    text-align: center;
    font-size: var(--font-size-600);
}

/* Primary Header  */

.primary-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}




/* Featured Links */

.user-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: .7rem;
}

.user-group>h1 {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-50);
    font-weight: 400;
    padding: 1.5rem 0 .5rem 0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.user-link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: .5rem;
    gap: .6rem;
    border: 1px solid #292929;
    margin-bottom: 1rem;
    border-radius: 4rem;
}




.user-link-icon {
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to bottom right, rgb(104, 247, 216), rgb(79, 79, 197));
    border-radius: 50%;
    position: relative;
}

.user-init-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    color: #ffffff;
}

.user-link-name {
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-500);
}


.user-link-button {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    height: 25px;

}

.user-link-button>img {
    height: 25px;
}

.copyright {
    text-align: center;
    margin-top: 3rem;
    font-weight: var(--font-weight-300);
    margin-bottom: 4rem;
}

.copyright>span {
    font-weight: var(--font-weight-500);
}

/* Featured Links End*/


@media screen and (max-width: 380px) {
    .container {
        width: 100%;
        /* Set width to 100% for screens <= 350px */
        max-width: none;
        /* Reset the maximum width */
    }
}

@media screen and (max-width: 1080px) {
    .container {
        width: 100%;
        /* Set width to 100% for screens <= 350px */
        max-width: none;
        /* Reset the maximum width */
    }

    .user-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
        /* Set width to 100% for screens <= 350px */
        max-width: none;
        /* Reset the maximum width */
    }

    .user-group {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0rem;
    }
}